:root {
  --indigo: #7300e6;
  --violet: #8520e9;
  --purple: #a0f;
  --pink: #f0f;
  --violetred: #f09;
  --blue: #0bf;
}
*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: hack, monospace;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  text-align: center;
}

h1 {
 font-size: 2.25rem;
 background: linear-gradient(3deg, var(--purple) 50%, var(--blue));
}

h2 {
  font-size: 2rem;
  background: linear-gradient(15deg, var(--pink), var(--blue));

}

h3 {
  color: var(--blue);
  font-size: 1.75rem;
  margin: 1rem auto;
}

h1, h2 {
  background-clip: text;
  color: transparent;
}

li {
  list-style: none;
  background: linear-gradient(9deg, var(--purple), var(--blue));
  padding: .5rem;
  font-size: 1.5rem;
  margin: 2rem 0;
}

a {
  color: #fff;
  text-decoration: none;
}

