:root {
  --indigo: #7300e6;
  --violet: #8520e9;
  --purple: #972fff;
  --brightpurple: #a0f;
  --pink: #f0f;
  --violetred: #f09;
  --blue: #00cbff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: hack, monospace;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  text-align: center;
}

h1 {
 font-size: 2.25rem;
}


h2 {
  font-size: 2rem;
}


h3 {
  color: var(--blue);
  font-size: 1.75rem;
  margin: 1rem auto;
}

h1, h2 {
  background: linear-gradient(15deg, var(--purple) 50%, var(--blue));
  background-clip: text;
  color: transparent;
}


li {
  list-style: none;
  background: linear-gradient(5deg, var(--purple) 1%, var(--blue) 95%);
  padding: .5rem;
  font-size: 1.5rem;
  margin: 2rem 0;
}

a {
  color: #fff;
  text-decoration: none;
}

