:root {
  --indigo: #7300e6;
  --bliolet: #8520e9;
  --plink: #b319ff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: hack, monospace;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
 font-size: 2rem;
 color: transparent;
 background: linear-gradient(20deg, #972fff 45%, #00b0ff 95%);
 background-clip: text;
}

h1, h2, h3, li {
  margin-top: 1rem;
}

h2 {
  color: #972fff;
  font-size: 1.75rem;
  text-decoration-line: underline;
}

h3 {
 color: #00b0ff;
 font-size: 1.5rem;
}

li {
  list-style: none;
  background: linear-gradient(#972fff 45%, #00b0ff 95%);
  padding: .5rem;
}
ul {
  width: 100%;
}
a {
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
}