.hero, footer {
  background-color: #1f2937;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

header p:nth-child(2),
a {
  text-decoration: none;

  color: #e5e7eb;
  font-size: 18px;
}

.hero p {
  font-size: 24px;
  color: #f9faf8;
}
.img {
  border: 2px solid #3882f6;
}
button, .call-to-action {
  background-color: #3882f6;
}

h2, blockquote {
  color: #1f2937;
  font-size: 36px;
}
blockquote {
  font-style: italic;
  font-weight: lighter;
}
section:nth-of-type(2) {
  background-color: #e5e7eb;
}
